USE [SurrogacyDB]
GO
/****** Object:  Table [dbo].[TRK_EXECUTIONPROCESS]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRK_EXECUTIONPROCESS](
	[EXECUTIONPROCESSID] [int] IDENTITY(1,1) NOT NULL,
	[OBJECTNAME] [varchar](1000) NULL,
	[OBJECTTYPE] [varchar](1000) NULL,
	[NEEDTOTRACK] [tinyint] NULL,
	[INSERTBY] [varchar](500) NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [varchar](500) NULL,
	[UPDATEDATE] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TRK_EXECUTIONPROCESS] ON
INSERT [dbo].[TRK_EXECUTIONPROCESS] ([EXECUTIONPROCESSID], [OBJECTNAME], [OBJECTTYPE], [NEEDTOTRACK], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE]) VALUES (1, N'pSRGg_ValidateUser', N'STORED_PROCEDURE', 0, N'Admin', CAST(0x0000A892001F8429 AS DateTime), NULL, NULL)
INSERT [dbo].[TRK_EXECUTIONPROCESS] ([EXECUTIONPROCESSID], [OBJECTNAME], [OBJECTTYPE], [NEEDTOTRACK], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE]) VALUES (2, N'pSRGg_SystemDropDown', N'STORED_PROCEDURE', 0, N'Admin', CAST(0x0000A892001F8429 AS DateTime), NULL, NULL)
INSERT [dbo].[TRK_EXECUTIONPROCESS] ([EXECUTIONPROCESSID], [OBJECTNAME], [OBJECTTYPE], [NEEDTOTRACK], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE]) VALUES (3, N'pSRGg_SystemConfiguration', N'STORED_PROCEDURE', 0, N'Admin', CAST(0x0000A892001F8429 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TRK_EXECUTIONPROCESS] OFF
/****** Object:  Table [dbo].[TRK_EXECUTIONHISTORY]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRK_EXECUTIONHISTORY](
	[EXECUTIONHISTORYID] [int] IDENTITY(1,1) NOT NULL,
	[OBJECTNAME] [varchar](1000) NULL,
	[OBJECTTYPE] [varchar](1000) NULL,
	[PARAMETERNAME] [nvarchar](max) NULL,
	[PARAMETERVALUE] [nvarchar](max) NULL,
	[EXECUTIONTIME] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TRK_EXECUTIONHISTORY] ON
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[TRK_EXECUTIONHISTORY] OFF
/****** Object:  Table [dbo].[SYSTEMSETTING]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYSTEMSETTING](
	[SYSTEMSETTINGID] [int] NOT NULL,
	[PROPERTY] [varchar](50) NULL,
	[VALUE] [varchar](500) NULL,
	[DISPLAYTEXT] [varchar](100) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[INTERNALUSE] [int] NULL,
	[INSERTBY] [varchar](50) NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [varchar](50) NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_SYSTEMSETTING] PRIMARY KEY NONCLUSTERED 
(
	[SYSTEMSETTINGID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SYSTEMSETTING] ([SYSTEMSETTINGID], [PROPERTY], [VALUE], [DISPLAYTEXT], [DESCRIPTION], [INTERNALUSE], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (1, N'ApplicationName', N'LastHOPE', N'Application name', N'This will be used as application name on UI', 0, N'Admin', CAST(0x0000A89101868984 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[SYSTEMSETTING] ([SYSTEMSETTINGID], [PROPERTY], [VALUE], [DISPLAYTEXT], [DESCRIPTION], [INTERNALUSE], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (5, N'ApplicationLogoPath', N'/Content/dist/img/logo.png', N'Logo of application', N'This logo will be visible to application', 0, N'Admin', CAST(0x0000A89101868984 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[SYSTEMSETTING] ([SYSTEMSETTINGID], [PROPERTY], [VALUE], [DISPLAYTEXT], [DESCRIPTION], [INTERNALUSE], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (2, N'ApplicationNameFP', N'Last', N'Application name First part', N'This will be used as application name on UI', 0, N'Admin', CAST(0x0000A89101868984 AS DateTime), NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[SURROGATE]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SURROGATE](
	[SURROGATEID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[FIRSTNAME] [varchar](500) NULL,
	[LASTNAME] [varchar](500) NULL,
	[MIDDLENAME] [varchar](500) NULL,
	[DOB] [date] NULL,
	[AGE] [int] NULL,
	[CITIZENSHIP] [varchar](500) NULL,
	[HEIGHTFEET] [varchar](50) NULL,
	[WEIGHT] [decimal](15, 2) NULL,
	[MARITALSTATUS] [int] NULL,
	[SPOUSEFULLNAME] [varchar](1000) NULL,
	[SPOUSEDOB] [date] NULL,
	[NOOFCHILD] [varchar](10) NULL,
	[STEPCHILD] [varchar](10) NULL,
	[CHILDDESCRIPTION] [varchar](2000) NULL,
	[PREGNANT] [varchar](10) NULL,
	[ADOPTED] [varchar](10) NULL,
	[RESIDENCE] [int] NULL,
	[ETHNICBACKGROUND] [varchar](1000) NULL,
	[INSERTBY] [int] NULL,
	[INSERDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [int] NULL,
	[DELETEDATE] [datetime] NULL,
	[ISSUBMIT] [int] NULL,
 CONSTRAINT [PK__SURROGAT__30622B334222D4EF] PRIMARY KEY CLUSTERED 
(
	[SURROGATEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SURROGATE] ON
SET IDENTITY_INSERT [dbo].[SURROGATE] OFF
/****** Object:  Table [dbo].[SURROGACYHISTORY]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SURROGACYHISTORY](
	[SURROGACYHISTORYID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[SURROGATEBEFORE] [varchar](10) NULL,
	[DETAILSURROGATE] [varchar](4000) NULL,
	[EGGDONATE] [varchar](10) NULL,
	[DETAILEGGDONATE] [varchar](4000) NULL,
	[ISSUBMIT] [int] NULL,
	[INSERTBY] [int] NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [int] NULL,
	[DELETEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SURROGACYHISTORYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SURROGACYHISTORY] ON
INSERT [dbo].[SURROGACYHISTORY] ([SURROGACYHISTORYID], [USERID], [SURROGATEBEFORE], [DETAILSURROGATE], [EGGDONATE], [DETAILEGGDONATE], [ISSUBMIT], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (11, 1, N'25', N'abc', N'25', N'details', 0, 1, CAST(0x0000A89300F2B27C AS DateTime), 1, CAST(0x0000A8930167C3FA AS DateTime), NULL, NULL)
INSERT [dbo].[SURROGACYHISTORY] ([SURROGACYHISTORYID], [USERID], [SURROGATEBEFORE], [DETAILSURROGATE], [EGGDONATE], [DETAILEGGDONATE], [ISSUBMIT], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (14, 3, N'25', N'test', N'25', NULL, 1, 3, CAST(0x0000A89600BE45F9 AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SURROGACYHISTORY] OFF
/****** Object:  Table [dbo].[SEC_USER]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEC_USER](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](100) NULL,
	[PASSWORD] [varchar](4000) NULL,
	[TITLE] [varchar](500) NULL,
	[FIRSTNAME] [varchar](100) NULL,
	[LASTNAME] [varchar](25) NULL,
	[DOB] [datetime] NULL,
	[AGE] [int] NULL,
	[GENDER] [int] NULL,
	[EMAIL] [varchar](1000) NULL,
	[USERROLE] [int] NULL,
	[ISACTIVE] [tinyint] NULL,
	[LASTLOGINDATE] [datetime] NULL,
	[SESSIONID] [varchar](500) NULL,
	[MACHINENAME] [varchar](100) NULL,
	[PasswordExpired] [int] NULL,
	[RESETPASSWORD] [int] NULL,
	[INSERTBY] [varchar](100) NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [varchar](100) NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [varchar](100) NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_SEC_USER] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SEC_USER] ON
INSERT [dbo].[SEC_USER] ([USERID], [USERNAME], [PASSWORD], [TITLE], [FIRSTNAME], [LASTNAME], [DOB], [AGE], [GENDER], [EMAIL], [USERROLE], [ISACTIVE], [LASTLOGINDATE], [SESSIONID], [MACHINENAME], [PasswordExpired], [RESETPASSWORD], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (2, N'Vw/hjmFdRQ+qXbb1HBPuqw==', N'Vw/hjmFdRQ+qXbb1HBPuqw==', NULL, N'Janki', N'Rathod', NULL, NULL, NULL, N'Janki@Rathod.com', 2, 1, CAST(0x0000A89200990E85 AS DateTime), NULL, NULL, NULL, NULL, N'Admin', CAST(0x0000A89200983262 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[SEC_USER] ([USERID], [USERNAME], [PASSWORD], [TITLE], [FIRSTNAME], [LASTNAME], [DOB], [AGE], [GENDER], [EMAIL], [USERROLE], [ISACTIVE], [LASTLOGINDATE], [SESSIONID], [MACHINENAME], [PasswordExpired], [RESETPASSWORD], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (3, N'WGluQud2UKDdu17CC0AAJQ==', N'5A76Q9+xnfv52eRBC+VwYQ==', NULL, N'Gray', N'Lohana', NULL, NULL, NULL, N'Gray@gmail.com', 2, 1, CAST(0x0000A89600CD7157 AS DateTime), NULL, NULL, NULL, NULL, N'Admin', CAST(0x0000A8960017CD08 AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SEC_USER] OFF
/****** Object:  Table [dbo].[SEC_LOGIN_HISTORY]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEC_LOGIN_HISTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](1000) NULL,
	[PASSWORD] [varchar](1000) NULL,
	[MACHINENAME] [varchar](2000) NULL,
	[LOGINDATETIME] [datetime] NULL,
	[LOGINSTATUS] [varchar](2000) NULL,
	[RESPONSEMESSAGE] [varchar](2000) NULL,
 CONSTRAINT [PK__SEC_LOGI__3214EC271B0907CE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SEC_LOGIN_HISTORY] ON
INSERT [dbo].[SEC_LOGIN_HISTORY] ([ID], [USERNAME], [PASSWORD], [MACHINENAME], [LOGINDATETIME], [LOGINSTATUS], [RESPONSEMESSAGE]) VALUES (1, N'3H8wj345vCsfqjNfgEcQHw==', N'3H8wj345vCsfqjNfgEcQHw==', NULL, CAST(0x0000A89200F0A79B AS DateTime), N'Success', N'Login Successfully!')
INSERT [dbo].[SEC_LOGIN_HISTORY] ([ID], [USERNAME], [PASSWORD], [MACHINENAME], [LOGINDATETIME], [LOGINSTATUS], [RESPONSEMESSAGE]) VALUES (2, N'3H8wj345vCsfqjNfgEcQHw==', N'3H8wj345vCsfqjNfgEcQHw==', NULL, CAST(0x0000A89200F0C2DC AS DateTime), N'Success', N'Login Successfully!')
INSERT [dbo].[SEC_LOGIN_HISTORY] ([ID], [USERNAME], [PASSWORD], [MACHINENAME], [LOGINDATETIME], [LOGINSTATUS], [RESPONSEMESSAGE]) VALUES (3, N'3H8wj345vCsfqjNfgEcQHw==', N'3H8wj345vCsfqjNfgEcQHw==', NULL, CAST(0x0000A89200F3B20C AS DateTime), N'Success', N'Login Successfully!')
SET IDENTITY_INSERT [dbo].[SEC_LOGIN_HISTORY] OFF
/****** Object:  Table [dbo].[PREGNANCYHISTORY]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PREGNANCYHISTORY](
	[PREGNANCYHISTORYID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[NOOFPREGNANCY] [int] NULL,
	[NOSTILLBIRTH] [int] NULL,
	[NOMISCARRIAGE] [int] NULL,
	[NOLIVEBIRTH] [int] NULL,
	[NOABORTION] [int] NULL,
	[LIST] [varchar](4000) NULL,
	[TREATMENT] [varchar](10) NULL,
	[COMPLICATION] [varchar](10) NULL,
	[DESC] [varchar](4000) NULL,
	[CHILDDEATH] [varchar](4000) NULL,
	[PROBLEM] [varchar](4000) NULL,
	[ISSUBMIT] [int] NULL,
	[INSERTBY] [int] NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [int] NULL,
	[DELETEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PREGNANCYHISTORYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PREGNANCYHISTORY] ON
INSERT [dbo].[PREGNANCYHISTORY] ([PREGNANCYHISTORYID], [USERID], [NOOFPREGNANCY], [NOSTILLBIRTH], [NOMISCARRIAGE], [NOLIVEBIRTH], [NOABORTION], [LIST], [TREATMENT], [COMPLICATION], [DESC], [CHILDDEATH], [PROBLEM], [ISSUBMIT], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (1, 1, 0, 0, 0, 0, 0, N'abc', N'25', N'25', NULL, NULL, NULL, 0, 1, CAST(0x0000A89501488EE0 AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PREGNANCYHISTORY] OFF
/****** Object:  Table [dbo].[MTOPTION_BCP]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MTOPTION_BCP](
	[OPTIONID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](255) NULL,
	[ITEM] [varchar](255) NULL,
	[VALUE] [varchar](500) NULL,
	[OPTIONCODE] [varchar](30) NULL,
	[PARENTID] [int] NULL,
	[SERIAL] [int] NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[ISACTIVE] [int] NULL,
	[INTERNALUSE] [varchar](1) NULL,
	[INSERTBY] [varchar](50) NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [varchar](50) NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_MTOPTION_BCP] PRIMARY KEY CLUSTERED 
(
	[OPTIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MTOPTION_BCP] ON
INSERT [dbo].[MTOPTION_BCP] ([OPTIONID], [CATEGORY], [ITEM], [VALUE], [OPTIONCODE], [PARENTID], [SERIAL], [DESCRIPTION], [ISACTIVE], [INTERNALUSE], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (1, N'USERROLE', N'Surrogate', N'Surrogate', N'USERROLE', NULL, 1, N'Surrogate Mother', 1, N'0', N'admin', CAST(0x0000A8910151D5A4 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[MTOPTION_BCP] ([OPTIONID], [CATEGORY], [ITEM], [VALUE], [OPTIONCODE], [PARENTID], [SERIAL], [DESCRIPTION], [ISACTIVE], [INTERNALUSE], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (2, N'USERROLE', N'Parent', N'Parent', N'USERROLE', NULL, 1, N'Parents', 1, N'0', N'admin', CAST(0x0000A89101521716 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[MTOPTION_BCP] ([OPTIONID], [CATEGORY], [ITEM], [VALUE], [OPTIONCODE], [PARENTID], [SERIAL], [DESCRIPTION], [ISACTIVE], [INTERNALUSE], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (3, N'USERROLE', N'Doctor', N'Doctor', N'USERROLE', NULL, 1, N'Doctors', 1, N'0', N'admin', CAST(0x0000A8910152447F AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MTOPTION_BCP] OFF
/****** Object:  Table [dbo].[MTOPTION]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MTOPTION](
	[OPTIONID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](255) NULL,
	[ITEM] [varchar](255) NULL,
	[OPTIONCODE] [varchar](30) NULL,
	[PARENTID] [int] NULL,
	[SERIAL] [int] NULL,
	[DISPLAYTEXT] [varchar](500) NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[ISACTIVE] [int] NULL,
	[INTERNALUSE] [varchar](1) NULL,
	[INSERTBY] [varchar](50) NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [varchar](50) NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_MTOPTION] PRIMARY KEY CLUSTERED 
(
	[OPTIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MTOPTION] ON
INSERT [dbo].[MTOPTION] ([OPTIONID], [CATEGORY], [ITEM], [OPTIONCODE], [PARENTID], [SERIAL], [DISPLAYTEXT], [DESCRIPTION], [ISACTIVE], [INTERNALUSE], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (1, N'USERROLE', N'Doctor', N'USERROLE', NULL, 1, N'Doctor', N'User role for doctor', 0, N'0', N'Admin', CAST(0x0000A891011EDBD6 AS DateTime), NULL, NULL, N'1', CAST(0x0000A896009C3C51 AS DateTime))
INSERT [dbo].[MTOPTION] ([OPTIONID], [CATEGORY], [ITEM], [OPTIONCODE], [PARENTID], [SERIAL], [DISPLAYTEXT], [DESCRIPTION], [ISACTIVE], [INTERNALUSE], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (2, N'USERROLE', N'Surrogate', N'USERROLE', NULL, 2, N'Surrogate', N'User role for Surrogate mother', 1, N'0', N'Admin', CAST(0x0000A891011EDBD6 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[MTOPTION] ([OPTIONID], [CATEGORY], [ITEM], [OPTIONCODE], [PARENTID], [SERIAL], [DISPLAYTEXT], [DESCRIPTION], [ISACTIVE], [INTERNALUSE], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE]) VALUES (3, N'USERROLE', N'Parents', N'USERROLE', NULL, 3, N'Parents', N'User role for Surrogacy parent', 1, N'0', N'Admin', CAST(0x0000A891011EDBD6 AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MTOPTION] OFF
/****** Object:  Table [dbo].[MENTALHEALTH]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MENTALHEALTH](
	[MENTALHEALTHID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[DEPRESSION] [varchar](10) NULL,
	[ILLNESS] [varchar](10) NULL,
	[SUICIDE] [varchar](10) NULL,
	[THOUGHTS] [varchar](10) NULL,
	[PROFESSIONAL] [varchar](10) NULL,
	[DETAILS] [varchar](2000) NULL,
	[ISSUBMIT] [int] NULL,
	[INSERTBY] [int] NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [int] NULL,
	[DELETEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MENTALHEALTHID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEDICALINFO]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEDICALINFO](
	[MEDICALINFOID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[ABLATION] [varchar](10) NULL,
	[WEIGHLOSS] [varchar](10) NULL,
	[MEDICAL] [varchar](10) NULL,
	[MEDICALDETAIL] [varchar](2000) NULL,
	[MEDICATION] [varchar](10) NULL,
	[MEDICATIONDETAIL] [varchar](2000) NULL,
	[BREASTFEEDING] [varchar](10) NULL,
	[PERIODS] [varchar](10) NULL,
	[INSERTBY] [int] NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [int] NULL,
	[DELETEDATE] [datetime] NULL,
	[ISSUBMIT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MEDICALINFOID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MEDICALINFO] ON
INSERT [dbo].[MEDICALINFO] ([MEDICALINFOID], [USERID], [ABLATION], [WEIGHLOSS], [MEDICAL], [MEDICALDETAIL], [MEDICATION], [MEDICATIONDETAIL], [BREASTFEEDING], [PERIODS], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE], [ISSUBMIT]) VALUES (14, 1, N'26', N'26', N'26', N'Test', N'25', N'Janki', N'25', N'25', 1, CAST(0x0000A893016D767F AS DateTime), 1, CAST(0x0000A89500F7C125 AS DateTime), NULL, NULL, 0)
INSERT [dbo].[MEDICALINFO] ([MEDICALINFOID], [USERID], [ABLATION], [WEIGHLOSS], [MEDICAL], [MEDICALDETAIL], [MEDICATION], [MEDICATIONDETAIL], [BREASTFEEDING], [PERIODS], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE], [ISSUBMIT]) VALUES (20, 3, N'25', N'25', N'25', NULL, N'25', NULL, N'25', N'26', 3, CAST(0x0000A89600ACFFD4 AS DateTime), NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MEDICALINFO] OFF
/****** Object:  Table [dbo].[LIFESTYLE]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIFESTYLE](
	[LIFESTYLEID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[ISSUBMITED] [int] NULL,
	[INSERTBY] [int] NULL,
	[INSETDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [int] NULL,
	[DELETEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LIFESTYLEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINALSUBMITE]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINALSUBMITE](
	[DOCUMENTID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[ISSUBMITED] [int] NULL,
	[INSERTBY] [int] NULL,
	[INSETDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [int] NULL,
	[DELETEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCUMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTITYTYPE]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENTITYTYPE](
	[ENTITYTYPEID] [int] NOT NULL,
	[ENTITYTYPENAME] [varchar](100) NULL,
	[PARENTTYPEID] [int] NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[ISINTERNAL] [tinyint] NULL,
	[INSERTBY] [varchar](50) NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [varchar](50) NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_ENTITYTYPE] PRIMARY KEY CLUSTERED 
(
	[ENTITYTYPEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[DOCUMENTID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[ISSUBMITED] [int] NULL,
	[INSERTBY] [int] NULL,
	[INSETDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [int] NULL,
	[DELETEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCUMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTACT](
	[CONTACTID] [int] IDENTITY(1,1) NOT NULL,
	[ENTITYID] [int] NOT NULL,
	[ENTITYTYPEID] [int] NULL,
	[FIRSTNAME] [varchar](52) NULL,
	[LASTNAME] [varchar](25) NULL,
	[CONTACTNAME] [varchar](104) NULL,
	[EMAIL] [varchar](200) NULL,
	[MOBILE] [varchar](50) NULL,
	[PHONE] [varchar](50) NULL,
	[ISPRIMARY] [tinyint] NULL,
	[INSERTBY] [varchar](50) NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [varchar](50) NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_CONTACT] PRIMARY KEY CLUSTERED 
(
	[CONTACTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APPROVALSTATUS]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPROVALSTATUS](
	[APPROVALSTATUSID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[FORMNAME] [varchar](50) NULL,
	[APPROVALSTATUS] [int] NULL,
	[INSERTBY] [int] NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [int] NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [int] NULL,
	[DELETEDATE] [datetime] NULL,
	[ISSUBMITTED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[APPROVALSTATUSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[APPROVALSTATUS] ON
INSERT [dbo].[APPROVALSTATUS] ([APPROVALSTATUSID], [USERID], [FORMNAME], [APPROVALSTATUS], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE], [ISSUBMITTED]) VALUES (1, 3, N'30', NULL, 3, CAST(0x0000A8960017CD18 AS DateTime), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[APPROVALSTATUS] ([APPROVALSTATUSID], [USERID], [FORMNAME], [APPROVALSTATUS], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE], [ISSUBMITTED]) VALUES (2, 3, N'31', NULL, 3, CAST(0x0000A8960017CD18 AS DateTime), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[APPROVALSTATUS] ([APPROVALSTATUSID], [USERID], [FORMNAME], [APPROVALSTATUS], [INSERTBY], [INSERTDATE], [UPDATEBY], [UPDATEDATE], [DELETEBY], [DELETEDATE], [ISSUBMITTED]) VALUES (3, 3, N'32', NULL, 3, CAST(0x0000A8960017CD18 AS DateTime), NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[APPROVALSTATUS] OFF
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 03/01/2018 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ADDRESSID] [int] IDENTITY(1,1) NOT NULL,
	[ADDRESSTYPEID] [int] NULL,
	[ENTITYID] [int] NULL,
	[ENTITYTYPEID] [int] NOT NULL,
	[ADDRESS1] [varchar](1000) NULL,
	[ADDRESS2] [varchar](1000) NULL,
	[ADDRESS3] [varchar](1000) NULL,
	[CITY] [varchar](100) NULL,
	[STATE] [varchar](50) NULL,
	[ZIPCODE] [varchar](20) NULL,
	[PINCODE] [varchar](20) NULL,
	[COUNTRY] [varchar](50) NULL,
	[ISPRIMARY] [tinyint] NULL,
	[INSERTBY] [varchar](50) NULL,
	[INSERTDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[DELETEBY] [varchar](50) NULL,
	[DELETEDATE] [datetime] NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ADDRESSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[pSRGs_ExecutionProcess]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGs_ExecutionProcess]
(
	@aObjectName VARCHAR(1000),
	@aParameterName VARCHAR(1000),
	@aParameterValue NVARCHAR(MAX) 
)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM TRK_EXECUTIONPROCESS WHERE OBJECTNAME = @aObjectName AND NEEDTOTRACK = 1)
	BEGIN
		DECLARE @ObjectType VARCHAR(100)
		SELECT @ObjectType = OBJECTTYPE FROM TRK_EXECUTIONPROCESS WHERE OBJECTNAME = @aObjectName

		INSERT INTO TRK_EXECUTIONHISTORY (OBJECTNAME, OBJECTTYPE, PARAMETERNAME, PARAMETERVALUE, EXECUTIONTIME)
		VALUES(@aObjectName, @ObjectType, @aParameterName, @aParameterValue, GETDATE())

	END
	
	INSERT INTO TRK_EXECUTIONHISTORY (OBJECTNAME, OBJECTTYPE, PARAMETERNAME, PARAMETERVALUE, EXECUTIONTIME)
		VALUES(@aObjectName, @ObjectType, @aParameterName, @aParameterValue, GETDATE())

END
GO
/****** Object:  StoredProcedure [dbo].[pSRGg_ValidateUser]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC pRBSs_ExecutionProcess 'pRBSg_CustomerDetails', '@aXMLString', @aXMLString



CREATE PROCEDURE [dbo].[pSRGg_ValidateUser]
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	--To Track Record of Execution	
	EXEC pSRGs_ExecutionProcess 'pRBSg_ValidateUser', '@aXMLString', @aXMLString

	DECLARE @idoc INT, @UserName VARCHAR(2000), @Password VARCHAR(2000), @SessionID VARCHAR(2000), @MachineName VARCHAR(500),
			@ErrorMessage NVARCHAR(MAX)

	-- Adding default error message to show on UI
	SET @ErrorMessage = 'Unauthorized access. Please try again!'

	-- Will show error message if no user details passed
	IF @aXMLString IS NULL OR @aXMLString = ''
	BEGIN
		RAISERROR(@ErrorMessage, 16, 1);
		RETURN
	END

	-- Getting data from XML String (Start)
	EXEC SP_XML_PREPAREDOCUMENT @idoc OUTPUT, @aXMLString

	SELECT @UserName = UserName,
		   @Password = Password,
		   @MachineName = MachineName,
		   @SessionID = SessionID
	FROM OPENXML (@idoc, 'User', 1)
	WITH 
	(
		UserName VARCHAR(2000) 'UserName',
		Password VARCHAR(2000) 'Password',
		MachineName VARCHAR(2000) 'MachineName',
		SessionID VARCHAR(2000) 'SessionID'
	)

	EXEC SP_XML_REMOVEDOCUMENT @idoc
	-- Getting data from XML String (End)
	
	IF EXISTS(SELECT 1 FROM SEC_USER WHERE USERNAME = @UserName AND PASSWORD = @Password AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1)
	BEGIN
		SELECT DISTINCT U.USERID,
						U.USERNAME,
						U.[TITLE],
						U.FIRSTNAME,
						U.LASTNAME,											
						U.DOB,
						U.AGE,
						U.[GENDER],
						U.EMAIL,
						U.USERROLE,
						MO.ITEM AS [USERROLENAME],
						U.LASTLOGINDATE,
						U.SESSIONID,
						U.MACHINENAME,
						U.PasswordExpired,
						U.RESETPASSWORD,
						U.LASTLOGINDATE
		FROM SEC_USER U
		INNER JOIN MTOPTION MO ON MO.OPTIONID = U.USERROLE AND MO.DELETEBY IS NULL AND MO.DELETEDATE IS NULL
		WHERE U.USERNAME = @UserName AND PASSWORD = @Password AND U.DELETEBY IS NULL AND U.DELETEDATE IS NULL AND U.ISACTIVE = 1

		UPDATE SEC_USER
		SET LASTLOGINDATE = GETDATE(),
			SESSIONID = @SessionID,
			MACHINENAME = @MachineName
		WHERE USERNAME = @UserName AND PASSWORD = @Password AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1
		
		INSERT INTO SEC_LOGIN_HISTORY (USERNAME, [PASSWORD], MACHINENAME, LOGINDATETIME, LOGINSTATUS, RESPONSEMESSAGE)
		VALUES(@UserName, @Password, @MachineName, GETDATE(), 'Success', 'Login Successfully!')
	END
	ELSE
	BEGIN
		INSERT INTO SEC_LOGIN_HISTORY (USERNAME, [PASSWORD], MACHINENAME, LOGINDATETIME, LOGINSTATUS, RESPONSEMESSAGE)
		VALUES(@UserName, @Password, @MachineName, GETDATE(), 'Failed', @ErrorMessage)
		
		RAISERROR(@ErrorMessage, 16, 1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[pSRGg_SystemDropDown]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGg_SystemDropDown]
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	--To Track Record of Execution
	EXEC pSRGs_ExecutionProcess 'pSRGg_SystemDropDown', '@aXMLString', @aXMLString

	DECLARE @Query NVARCHAR(4000), @Where NVARCHAR(2000), @idoc INT, @UserName VARCHAR(2000), 
			@Key BIGINT, @ParentKey BIGINT, @ParentCategory NVARCHAR(1000), @Category NVARCHAR(1000),
			@Value NVARCHAR(1000), @ParentValue NVARCHAR(1000)
	
	-- Getting data from XML String (Start)
	IF ISNULL(@aXMLString,'') <> ''
	BEGIN
		EXEC SP_XML_PREPAREDOCUMENT @idoc OUTPUT, @aXMLString

		SELECT @Key = [Key],
			   @ParentKey = ParentKey,
			   @ParentCategory = ParentCategory,
			   @Category = Category,
			   @Value = Value,
			   @ParentValue = ParentValue
		FROM OPENXML (@idoc, 'SystemDropDown', 1)
		WITH 
		(
			[Key] BIGINT 'Key',
			ParentKey BIGINT 'ParentKey',
			Category VARCHAR(2000) 'Category',
			ParentCategory VARCHAR(2000) 'ParentCategory',
			Value VARCHAR(2000) 'Value',
			ParentValue VARCHAR(2000) 'ParentValue'
		)

		EXEC SP_XML_REMOVEDOCUMENT @idoc
	END
	-- Getting data from XML String (End)

	SET @Where = ' WHERE 1 = 1'

	IF (ISNULL(@Key, 0) <> 0)
	BEGIN
		SET @Where = @Where + ' AND [KEY] = '+CAST(@Key AS VARCHAR(500))
	END
	IF (ISNULL(@ParentKey, 0) <> 0)
	BEGIN
		SET @Where = @Where + ' AND [PARENTKEY] = '+CAST(@ParentKey AS VARCHAR(500))
	END
	IF (ISNULL(@ParentCategory, '') <> '')
	BEGIN
		SET @Where = @Where + ' AND [PARENTCATEGORY] = '''+@ParentCategory+''''
	END
	IF (ISNULL(@Category, '') <> '')
	BEGIN
		SET @Where = @Where + ' AND [CATEGORY] = '''+@Category+''''
	END
	IF (ISNULL(@Value, '') <> '')
	BEGIN
		SET @Where = @Where + ' AND [VALUE] = '''+@Value+''''
	END
	IF (ISNULL(@ParentValue, '') <> '')
	BEGIN
		SET @Where = @Where + ' AND [PARENTVALUE] = '''+@ParentValue+''''
	END

	IF OBJECT_ID('tempdb..#DROPDOWNLIST') IS NOT NULL
	BEGIN
		DROP TABLE #DROPDOWNLIST
	END

	CREATE TABLE #DROPDOWNLIST
	(
		ID INT IDENTITY(1,1),
		CATEGORY VARCHAR(1000),
		PARENTCATEGORY VARCHAR(1000),
		PARENTVALUE VARCHAR(1000),
		PARENTKEY BIGINT,
		[DISPLAYTEXT] VARCHAR(MAX),
		[KEY] BIGINT,
		VALUE VARCHAR(1000),
		SERIAL INT
	)

	-- Setting up default values (Start)
	INSERT INTO #DROPDOWNLIST (CATEGORY, PARENTCATEGORY, DISPLAYTEXT, [KEY], VALUE)
	VALUES ('DEFAULT', NULL, 'Default', 0, '--Select--')		   

	INSERT INTO #DROPDOWNLIST (CATEGORY, PARENTCATEGORY, DISPLAYTEXT, [KEY], VALUE, SERIAL)
	SELECT DISTINCT CATEGORY, NULL, '--Select--' DISPLAYTEXT, 0 AS [KEY], '--Select--' VALUE, 0 AS SERIAL
	FROM MTOPTION
	WHERE CATEGORY NOT IN ('')
	-- Setting up default values (End)
	
	;WITH DATA AS
	(
		SELECT CATEGORY, NULL AS PARENTCATEGORY, NULL AS PARENTVALUE, NULL AS PARENTKEY, DISPLAYTEXT, OPTIONID AS [KEY], [ITEM] AS VALUE, SERIAL FROM MTOPTION		
	)
	INSERT INTO #DROPDOWNLIST (CATEGORY, PARENTCATEGORY, PARENTVALUE, PARENTKEY, DISPLAYTEXT, [KEY], VALUE, SERIAL)
	SELECT DISTINCT CATEGORY, PARENTCATEGORY, PARENTVALUE, PARENTKEY, DISPLAYTEXT, [KEY], VALUE, SERIAL
	FROM DATA
	ORDER BY CATEGORY, SERIAL, VALUE
	
	SET @Query = ' SELECT CATEGORY, DISPLAYTEXT, [KEY], VALUE, PARENTCATEGORY, PARENTVALUE, PARENTKEY FROM #DROPDOWNLIST ' + @Where + ' ORDER BY CATEGORY, SERIAL, VALUE '

	EXECUTE (@Query)
END
GO
/****** Object:  StoredProcedure [dbo].[pSRGg_SystemConfiguration]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGg_SystemConfiguration]
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	EXEC pSRGs_ExecutionProcess 'pSRGg_SystemConfiguration', '@aXMLString', @aXMLString
	
	SELECT DISTINCT SYSTEMSETTINGID, PROPERTY, VALUE, DISPLAYTEXT 
	FROM SYSTEMSETTING 
	WHERE ISNULL(INTERNALUSE, 0) IN(0) 
		  AND DELETEBY IS NULL 
		  AND DELETEDATE IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[pSRGg_FormInfo]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGg_FormInfo] 
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	--To Track Record of Execution
	EXEC pSRGs_ExecutionProcess 'pSRGg_FormInfo', '@aXMLString', @aXMLString
	
	DECLARE @UserID INT,
			@MedicalInfoId INT,
			@Ablation VARCHAR(10),
			@WeightLoss VARCHAR(500),
			@Medical VARCHAR(10),
			@MedicalDetail VARCHAR(500),
			@Medication VARCHAR(10),
			@MedicationDetail VARCHAR(2000),
			@BreastFeeding VARCHAR(10),
			@Periods VARCHAR(10),
			@IsSubmit INT,
			@EntityState VARCHAR(500),
			@ChangeBy VARCHAR(100),			
			@ErrorMessage NVARCHAR(MAX)
	
	-- Getting data from XML String (Start)
	DECLARE @idoc INT
	EXEC SP_XML_PREPAREDOCUMENT @idoc OUTPUT, @aXMLString

	SELECT @UserID = USERID,
			@EntityState = ENTITYSTATE,
			@ChangeBy = CHANGEBY
	FROM OPENXML (@idoc, 'Dashboard', 1)
	WITH 
	(
		USERID INT 'UserID',
		ENTITYSTATE VARCHAR(500) 'EntityState',
		CHANGEBY VARCHAR(500) 'ChangeBy'
	)

	EXEC SP_XML_REMOVEDOCUMENT @idoc
		
		
	DECLARE @CountPercentage DECIMAL(15,2)

	DECLARE @FormCount INT

	SELECT @FormCount = COUNT(*) FROM APPROVALSTATUS WHERE ISNULL(ISSUBMITTED,0) = 1 AND USERID = @UserID
	SET @CountPercentage = CAST(@FormCount AS DECIMAL(10,2)) * 100.00 / (SELECT CAST(COUNT(*) AS DECIMAL(15,2)) FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ISACTIVE = 1 AND DELETEBY IS NULL AND DELETEDATE IS NULL)
	
	DECLARE @Temp TABLE(
		ID INT IDENTITY(1,1),
		USERID INT,
		FORMNAME VARCHAR(500),
		APPROVALSTATUS VARCHAR(500),
		ISSUBMITTED VARCHAR(500),
		PERCENTAGE DECIMAL(15,2)
	)
	
	INSERT INTO @Temp
	SELECT SU.USERID, M.DISPLAYTEXT , ISNULL(M1.ITEM,'N/A') , 
	(CASE WHEN A.ISSUBMITTED = 1 THEN 'Submitted' else 'Not Submitted' end) ISSUBMITTED,
		@CountPercentage PERCENTAGE
		FROM SEC_USER SU
		INNER JOIN APPROVALSTATUS A ON SU.USERID = A.USERID AND SU.DELETEBY IS NULL AND SU.DELETEDATE IS NULL 
			AND A.DELETEBY IS NULL AND A.DELETEDATE IS NULL 
		INNER JOIN MTOPTION M ON M.OPTIONID = A.FORMNAME AND M.DELETEBY IS NULL AND M.DELETEDATE IS NULL AND M.ISACTIVE = 1 
		AND M.CATEGORY = 'FORMNAME'
		LEFT JOIN MTOPTION M1 ON M1.OPTIONID = A.APPROVALSTATUS AND M1.DELETEBY IS NULL AND M1.DELETEDATE IS NULL AND M1.ISACTIVE = 1 
		AND M1.CATEGORY = 'APPROVALSTATUS'
	WHERE SU.USERID = @UserID	
	
	SELECT * FROM @Temp	
	
END
GO
/****** Object:  StoredProcedure [dbo].[pSRGs_UserDetail]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGs_UserDetail] 
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	--To Track Record of Execution
	EXEC pSRGs_ExecutionProcess 'pSRGs_UserDetail', '@aXMLString', @aXMLString
	
	DECLARE @UserID INT,			
			@FirstName VARCHAR(500),
			@LastName VARCHAR(500),
			@Email VARCHAR(1000),
			@UserName VARCHAR(MAX),
			@Password VARCHAR(MAX),
			@UserRole INT,
			@EntityState VARCHAR(500),
			@ChangeBy VARCHAR(100),			
			@ErrorMessage NVARCHAR(MAX)
	
	-- Getting data from XML String (Start)
	DECLARE @idoc INT
	EXEC SP_XML_PREPAREDOCUMENT @idoc OUTPUT, @aXMLString

	SELECT @UserID = USERID, 
			@FirstName = FIRSTNAME, 
			@LastName = LASTNAME,
			@Email = EMAIL ,
			@UserName = USERNAME,
			@Password = [PASSWORD],
			@UserRole = USERROLE,
			@EntityState = ENTITYSTATE,
			@ChangeBy = CHANGEBY
	FROM OPENXML (@idoc, 'User', 1)
	WITH 
	(
		USERID INT 'UserID',
		FIRSTNAME VARCHAR(500) 'FirstName', 
		LASTNAME VARCHAR(500) 'LastName',
		EMAIL VARCHAR(1000) 'Email',
		USERNAME VARCHAR(1000) 'UserName',
		[PASSWORD] VARCHAR(1000) 'Password',
		USERROLE int 'UserRole',
		ENTITYSTATE VARCHAR(500) 'EntityState',
		CHANGEBY VARCHAR(500) 'ChangeBy'
	)

	EXEC SP_XML_REMOVEDOCUMENT @idoc
	
	IF (@EntityState = 'SAVE')
	BEGIN
		IF (ISNULL(@ChangeBy, '') = '')
			SET @ChangeBy = 'System Admin'
		
		IF EXISTS(SELECT 1 FROM SEC_USER WHERE USERNAME = @UserName)
		BEGIN
			SET @ErrorMessage = 'User name is not available!'
			GOTO ERRORMESSAGE
		END
		
		INSERT INTO SEC_USER(FIRSTNAME, LASTNAME, EMAIL, USERNAME, [PASSWORD], [USERROLE], ISACTIVE, INSERTBY, INSERTDATE)
		VALUES(@FirstName, @LastName, @Email, @UserName, @Password, @UserRole, 1, 'Admin', GETDATE())
		
		SET @UserID = SCOPE_IDENTITY() 
		
		IF(@UserRole = (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'USERROLE' AND ITEM = 'Surrogate' AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1))
		BEGIN
			INSERT INTO APPROVALSTATUS(USERID,FORMNAME,INSERTBY,INSERTDATE)
			VALUES(@UserID, (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Personal Info'
					 AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1),
				@UserID,GETDATE()),
				(@UserID, (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Surrogacy History' 
					AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1),
				@UserID,GETDATE()),
				(@UserID, (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Medical History' 
					AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1),
				@UserID,GETDATE()),
				(@UserID, (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Pregnancy History' 
					AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1),
				@UserID,GETDATE()),
				(@UserID, (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Mental Info' 
					AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1),
				@UserID,GETDATE()),
				(@UserID, (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Life Style' 
					AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1),
				@UserID,GETDATE()),
				(@UserID, (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Document' 
					AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1),
				@UserID,GETDATE()),
				(@UserID, (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Final Submit' 
					AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1),
				@UserID,GETDATE())
		END
		
		
		SELECT DISTINCT U.USERID,
						U.USERNAME,
						U.[TITLE],
						U.FIRSTNAME,
						U.LASTNAME,											
						U.DOB,
						U.AGE,
						U.[GENDER],
						U.EMAIL,
						U.USERROLE,
						MO.ITEM AS [USERROLENAME],
						U.LASTLOGINDATE,
						U.SESSIONID,
						U.MACHINENAME,
						U.PasswordExpired,
						U.RESETPASSWORD,
						U.LASTLOGINDATE
		FROM SEC_USER U
		INNER JOIN MTOPTION MO ON MO.OPTIONID = U.USERROLE AND MO.DELETEBY IS NULL AND MO.DELETEDATE IS NULL
		WHERE U.USERID = @UserID AND U.DELETEBY IS NULL AND U.DELETEDATE IS NULL AND U.ISACTIVE = 1
		
		UPDATE SEC_USER
		SET LASTLOGINDATE = GETDATE()
		WHERE USERID = @UserID AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1
		
		INSERT INTO SEC_LOGIN_HISTORY (USERNAME, [PASSWORD], MACHINENAME, LOGINDATETIME, LOGINSTATUS, RESPONSEMESSAGE)
		VALUES(@UserName, @Password, NULL, GETDATE(), 'Success', 'Login Successfully!')
	END
	ELSE IF (@EntityState = 'EDIT')
	BEGIN
		PRINT 'Update Code Here'
	END
	ELSE IF (@EntityState = 'DELETE')
	BEGIN
		PRINT 'Delete Code Here'
	
	END
	ELSE IF (@EntityState = 'VIEW')
	BEGIN
		PRINT 'View Code Here'
	END
	
	-- To move pointer to End of procedure
	GOTO EOP
	
	-- To Raise Error	
	ERRORMESSAGE:
	RAISERROR(@ErrorMessage, 16, 1);
	
	EOP:
END
GO
/****** Object:  StoredProcedure [dbo].[pSRGs_SurrogatePersonalInfo]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGs_SurrogatePersonalInfo] 
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	--To Track Record of Execution
	EXEC pSRGs_ExecutionProcess 'pSRGs_SurrogatePersonalInfo', '@aXMLString', @aXMLString
	
	DECLARE @UserID INT,
			@SurrogateID INT,
			@FirstName VARCHAR(500),
			@LastName VARCHAR(500),
			@MiddleName VARCHAR(500),
			@DOB VARCHAR(500),
			@Age VARCHAR(500),
			@Citizenship VARCHAR(500),
			@Height VARCHAR(500),
			@Weight VARCHAR(500),
			@MaritalStatus VARCHAR(500),
			@SpouseFullName VARCHAR(500),
			@SpouseDOB VARCHAR(500),
			@NoOfChild VARCHAR(500),
			@StepChild VARCHAR(500),
			@ChildDescription VARCHAR(MAX),
			@Pregnant VARCHAR(MAX),
			@Adopted VARCHAR(MAX),
			@Residence VARCHAR(MAX),
			@EthnicBackGround VARCHAR(MAX),
			@EntityState VARCHAR(500),
			@ChangeBy VARCHAR(100),			
			@ErrorMessage NVARCHAR(MAX)
	
	-- Getting data from XML String (Start)
	DECLARE @idoc INT
	EXEC SP_XML_PREPAREDOCUMENT @idoc OUTPUT, @aXMLString

	SELECT @UserID = USERID,
			@SurrogateID = SURROGATEID, 
			@FirstName = FIRSTNAME, 
			@LastName = LASTNAME,
			@MiddleName = MIDDLENAME ,
			@DOB = DOB,
			@Age = AGE,
			@Citizenship = CITIZENSHIP,
			@Height = HEIGHT, 
			@Weight = [WEIGHT],
			@MaritalStatus = MARITALSTATUS ,
			@SpouseFullName = SPOUSEFULLNAME,
			@SpouseDOB = SPOUSEDOB,
			@NoOfChild = NOOFCHILD,
			@StepChild = STEPCHILD ,
			@ChildDescription = CHILDDESCRIPTION,
			@Pregnant = PREGNANT,
			@Adopted = ADOPTED,
			@Residence = RESIDENCE ,
			@EthnicBackGround = ETHNICBACKGROUND,			
			@EntityState = ENTITYSTATE,
			@ChangeBy = CHANGEBY
	FROM OPENXML (@idoc, 'SurrogatePersonalInfo', 1)
	WITH 
	(
		USERID INT 'UserID',
		SURROGATEID VARCHAR(500) 'SurrogateID', 
		FIRSTNAME VARCHAR(500) 'FirstName',
		LASTNAME VARCHAR(1000) 'LastName',
		MIDDLENAME VARCHAR(1000) 'MiddleName',
		DOB VARCHAR(1000) 'DOB',
		AGE VARCHAR(500) 'Age',
		CITIZENSHIP VARCHAR(500) 'Citizenship',
		HEIGHT VARCHAR(500) 'Height',
		[WEIGHT] VARCHAR(500) 'Weight',
		MARITALSTATUS VARCHAR(500) 'MaritalStatus', 
		SPOUSEFULLNAME VARCHAR(500) 'SpouseFullName',
		SPOUSEDOB VARCHAR(1000) 'SpouseDOB',
		NOOFCHILD VARCHAR(1000) 'NoOfChild',
		STEPCHILD VARCHAR(1000) 'StepChild',
		CHILDDESCRIPTION VARCHAR(1000) 'ChildDescription',
		PREGNANT VARCHAR(500) 'Pregnant',
		ADOPTED VARCHAR(500) 'Adopted',
		RESIDENCE VARCHAR(500) 'Residence',
		ETHNICBACKGROUND VARCHAR(500) 'EthnicBackGround', 		
		ENTITYSTATE VARCHAR(500) 'EntityState',
		CHANGEBY VARCHAR(500) 'ChangeBy'
	)

	EXEC SP_XML_REMOVEDOCUMENT @idoc
	
	IF (@EntityState = 'SAVE')
	BEGIN
		IF (ISNULL(@ChangeBy, '') = '')
			SET @ChangeBy = 'System Admin'
		BEGIN TRY
			INSERT INTO SURROGATE(USERID,FIRSTNAME,LASTNAME,MIDDLENAME,DOB,AGE,CITIZENSHIP,HEIGHTFEET,WEIGHT,MARITALSTATUS,
								  SPOUSEFULLNAME,SPOUSEDOB,NOOFCHILD,STEPCHILD,CHILDDESCRIPTION,PREGNANT,ADOPTED,RESIDENCE,ETHNICBACKGROUND,
								  INSERTBY,INSERDATE,ISSUBMIT)
			VALUES(@UserID, @FirstName, @LastName, @MiddleName, @DOB, @Age, @Citizenship, @Height, @Weight, @MaritalStatus,
				   @SpouseFullName, @SpouseDOB,@NoOfChild, @StepChild, @ChildDescription, @Pregnant, @Adopted, @Residence,
				   @EthnicBackGround, @ChangeBy, GETDATE(),1)
			
			SET @SurrogateID = SCOPE_IDENTITY()
		END TRY
		BEGIN CATCH
			SELECT @ErrorMessage = ERROR_MESSAGE()
			
			GOTO ERRORMESSAGE
		END CATCH
		
		UPDATE APPROVALSTATUS
			SET ISSUBMITTED = 1
			WHERE USERID = @UserID 
			AND FORMNAME = (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Personal Info'
					 AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1)
		
		SELECT DISTINCT SURROGATEID, USERID,FIRSTNAME,LASTNAME,MIDDLENAME,CONVERT(VARCHAR(10), DOB, 101) AS [DOB],AGE,CITIZENSHIP,HEIGHTFEET,WEIGHT,MARITALSTATUS,
					    SPOUSEFULLNAME,CONVERT(VARCHAR(10), SPOUSEDOB, 101) AS [SPOUSEDOB],NOOFCHILD,STEPCHILD,CHILDDESCRIPTION,PREGNANT,ADOPTED,RESIDENCE,ETHNICBACKGROUND,
						INSERTBY,INSERDATE,ISSUBMIT
		FROM SURROGATE
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	ELSE IF (@EntityState = 'EDIT')
	BEGIN
		UPDATE SURROGATE
		SET FIRSTNAME = @FirstName,
			LASTNAME = @LastName,
			MIDDLENAME = @MiddleName,
			DOB = @DOB,
			AGE = @Age,
			CITIZENSHIP = @Citizenship,
			HEIGHTFEET = @Height,
			[WEIGHT] = @Weight,
			MARITALSTATUS = @MaritalStatus,
			SPOUSEFULLNAME = @SpouseFullName,
			SPOUSEDOB = @SpouseDOB,
			NOOFCHILD = @NoOfChild,
			STEPCHILD = @StepChild,
			CHILDDESCRIPTION = @ChildDescription,
			PREGNANT = @Pregnant,
			ADOPTED = @Adopted,
			RESIDENCE = @Residence,
			ETHNICBACKGROUND = @EthnicBackGround,
			UPDATEBY = @ChangeBy,
			UPDATEDATE = GETDATE(),
			ISSUBMIT = 1
		WHERE USERID = @UserID
		
		SELECT DISTINCT SURROGATEID, USERID,FIRSTNAME,LASTNAME,MIDDLENAME,CONVERT(VARCHAR(10), DOB, 101) AS [DOB],AGE,CITIZENSHIP,HEIGHTFEET,WEIGHT,MARITALSTATUS,
					    SPOUSEFULLNAME,CONVERT(VARCHAR(10), SPOUSEDOB, 101) AS [SPOUSEDOB],NOOFCHILD,STEPCHILD,CHILDDESCRIPTION,PREGNANT,ADOPTED,RESIDENCE,ETHNICBACKGROUND,
						INSERTBY,INSERDATE,ISSUBMIT
		FROM SURROGATE
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	ELSE IF (@EntityState = 'DELETE')
	BEGIN
		PRINT 'Delete Code Here'
	
	END
	ELSE IF (@EntityState = 'VIEW')
	BEGIN
		SELECT DISTINCT SURROGATEID, USERID,FIRSTNAME,LASTNAME,MIDDLENAME,CONVERT(VARCHAR(10), DOB, 101) AS [DOB],AGE,CITIZENSHIP,HEIGHTFEET,WEIGHT,MARITALSTATUS,
					    SPOUSEFULLNAME,CONVERT(VARCHAR(10), SPOUSEDOB, 101) AS [SPOUSEDOB],NOOFCHILD,STEPCHILD,CHILDDESCRIPTION,PREGNANT,ADOPTED,RESIDENCE,ETHNICBACKGROUND,
						INSERTBY,INSERDATE,ISSUBMIT
		FROM SURROGATE
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	
	-- To move pointer to End of procedure
	GOTO EOP
	
	-- To Raise Error	
	ERRORMESSAGE:
	RAISERROR(@ErrorMessage, 16, 1);
	
	EOP:
END
GO
/****** Object:  StoredProcedure [dbo].[pSRGs_SurrogacyHistoryInfo]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGs_SurrogacyHistoryInfo] 
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	--To Track Record of Execution
	EXEC pSRGs_ExecutionProcess 'pSRGs_SurrogacyHistoryInfo', '@aXMLString', @aXMLString
	
	DECLARE @UserID INT,
			@SurrogacyHistoryID INT,
			@SurrogateBefore VARCHAR(500),
			@DetailSurrogate VARCHAR(500),
			@EggDonate VARCHAR(500),
			@DetailEggDonate VARCHAR(500),
			@IsSubmit INT,
			@EntityState VARCHAR(500),
			@ChangeBy VARCHAR(100),			
			@ErrorMessage NVARCHAR(MAX)
	
	-- Getting data from XML String (Start)
	DECLARE @idoc INT
	EXEC SP_XML_PREPAREDOCUMENT @idoc OUTPUT, @aXMLString

	SELECT @UserID = USERID,
			@SurrogacyHistoryID = SURROGACYHISTORYID, 
			@SurrogateBefore = SURROGATEBEFORE,
			@DetailSurrogate = DETAILSURROGATE ,
			@EggDonate = EGGDONATE,
			@DetailEggDonate = DETAILEGGDONATE,
			@IsSubmit = ISSUBMIT,
			@EntityState = ENTITYSTATE,
			@ChangeBy = CHANGEBY
	FROM OPENXML (@idoc, 'SurrogacyHistory', 1)
	WITH 
	(
		USERID INT 'UserID',
		SURROGACYHISTORYID VARCHAR(500) 'SurrogacyHistoryID',
		SURROGATEBEFORE VARCHAR(1000) 'SurrogateBefore',
		DETAILSURROGATE VARCHAR(1000) 'DetailSurrogate',
		EGGDONATE VARCHAR(1000) 'EggDonate',
		DETAILEGGDONATE VARCHAR(500) 'DetailEggDonate',
		ISSUBMIT VARCHAR(500) 'IsSubmit',
		ENTITYSTATE VARCHAR(500) 'EntityState',
		CHANGEBY VARCHAR(500) 'ChangeBy'
	)

	EXEC SP_XML_REMOVEDOCUMENT @idoc
	
	IF (@EntityState = 'SAVE')
	BEGIN
		IF (ISNULL(@ChangeBy, '') = '')
			SET @ChangeBy = 'System Admin'
		BEGIN TRY
		
			INSERT INTO SURROGACYHISTORY(USERID, SURROGATEBEFORE, DETAILSURROGATE, EGGDONATE, DETAILEGGDONATE, ISSUBMIT,
								  INSERTBY,INSERTDATE)
			VALUES(@UserID, @SurrogateBefore, @DetailSurrogate, @EggDonate, @DetailEggDonate, 1, @ChangeBy, GETDATE())
			
			SET @SurrogacyHistoryID = SCOPE_IDENTITY()
		END TRY
		BEGIN CATCH
			SELECT @ErrorMessage = ERROR_MESSAGE()
			
			GOTO ERRORMESSAGE
		END CATCH
		
		UPDATE APPROVALSTATUS
			SET ISSUBMITTED = 1
			WHERE USERID = @UserID 
			AND FORMNAME = (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Surrogacy History'
					 AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1)
		
		SELECT DISTINCT SURROGACYHISTORYID,USERID AS USERID,  SURROGATEBEFORE, DETAILSURROGATE, EGGDONATE, DETAILEGGDONATE, ISSUBMIT,
			INSERTBY,INSERTDATE
		FROM SURROGACYHISTORY
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	ELSE IF (@EntityState = 'EDIT')
	BEGIN
		UPDATE SURROGACYHISTORY
		SET USERID = @USERID,
			SURROGATEBEFORE = @SurrogateBefore,
			DETAILSURROGATE = @DetailSurrogate,
			EGGDONATE = @EggDonate,
			DETAILEGGDONATE = @DetailEggDonate,
			ISSUBMIT = 1,
			UPDATEBY = @ChangeBy,
			UPDATEDATE = GETDATE()
		WHERE SURROGACYHISTORYID = @SurrogacyHistoryID
		
		SELECT DISTINCT SURROGACYHISTORYID,USERID AS USERID,  SURROGATEBEFORE, DETAILSURROGATE, EGGDONATE, DETAILEGGDONATE, ISSUBMIT,
			INSERTBY,INSERTDATE
		FROM SURROGACYHISTORY
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	ELSE IF (@EntityState = 'DELETE')
	BEGIN
		PRINT 'Delete Code Here'
	
	END
	ELSE IF (@EntityState = 'VIEW')
	BEGIN
		SELECT DISTINCT SURROGACYHISTORYID,USERID AS USERID,  SURROGATEBEFORE, DETAILSURROGATE, EGGDONATE, DETAILEGGDONATE, ISSUBMIT,
			INSERTBY,INSERTDATE
		FROM SURROGACYHISTORY
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	
	-- To move pointer to End of procedure
	GOTO EOP
	
	-- To Raise Error	
	ERRORMESSAGE:
	RAISERROR(@ErrorMessage, 16, 1);
	
	EOP:
END
GO
/****** Object:  StoredProcedure [dbo].[pSRGs_PreganancyHistory]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGs_PreganancyHistory] 
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	--To Track Record of Execution
	EXEC pSRGs_ExecutionProcess 'pSRGs_PreganancyHistory', '@aXMLString', @aXMLString
	
	DECLARE @PregnancyHistoryID INT,
			@UserID INT,
			@NoOfPregnancy INT,
			@NoOfStillBirth INT,
			@NoOfMiscarriage INT,
			@NoOfLiveBirth INT,
			@NoOfAbortion INT,
			@List VARCHAR(4000),
			@Treatment VARCHAR(10),
			@Complication VARCHAR(10),
			@Desc VARCHAR(4000),
			@ChildDeath VARCHAR(4000),
			@Problem VARCHAR(4000),
			@IsSubmit INT,
			@EntityState VARCHAR(500),
			@ChangeBy VARCHAR(100),			
			@ErrorMessage NVARCHAR(MAX)
	
	-- Getting data from XML String (Start)
	DECLARE @idoc INT
	EXEC SP_XML_PREPAREDOCUMENT @idoc OUTPUT, @aXMLString

	SELECT  @PregnancyHistoryID = PREGNANCYHISTORYID,
			@UserID = USERID,
			@NoOfPregnancy = NOOFPREGNANCY, 
			@NoOfStillBirth = NOSTILLBIRTH,
			@NoOfMiscarriage = NOMISCARRIAGE ,
			@NoOfLiveBirth = NOLIVEBIRTH,
			@NoOfAbortion = NOABORTION,
			@List = LIST,
			@Treatment = TREATMENT,
			@Complication = COMPLICATION,
			@Desc = [DESC],
			@ChildDeath = CHILDDEATH,
			@Problem =PROBLEM,
			@IsSubmit = ISSUBMIT,
			@EntityState = ENTITYSTATE,
			@ChangeBy = CHANGEBY
	FROM OPENXML (@idoc, 'PregnancyHistory', 1)
	WITH 
	(
		PREGNANCYHISTORYID INT 'PreganancyHistoryID',
		USERID INT 'UserID',
		NOOFPREGNANCY INT 'NoOfPregnancy',
		NOSTILLBIRTH INT 'NoStillBirth',
		NOMISCARRIAGE INT 'NoMisCarriage',
		NOLIVEBIRTH INT 'NoLiveBirth',
		NOABORTION INT 'NoAbortion',
		LIST VARCHAR(4000) 'List',
		TREATMENT VARCHAR(10) 'Treatment',
		COMPLICATION VARCHAR(10)'Complication',
		[DESC] VARCHAR(4000) 'Desc',
		CHILDDEATH VARCHAR(4000) 'ChildDeath',
		PROBLEM VARCHAR(4000) 'Problem',
		ISSUBMIT VARCHAR(10) 'IsSubmit',
		ENTITYSTATE VARCHAR(500) 'EntityState',
		CHANGEBY VARCHAR(500) 'ChangeBy'
	)

	EXEC SP_XML_REMOVEDOCUMENT @idoc
	
	IF (@EntityState = 'SAVE')
	BEGIN
		IF (ISNULL(@ChangeBy, '') = '')
			SET @ChangeBy = 'System Admin'
		BEGIN TRY	
			
			INSERT INTO PREGNANCYHISTORY(USERID, NOOFPREGNANCY, NOSTILLBIRTH, NOMISCARRIAGE, NOLIVEBIRTH, NOABORTION, LIST,
						TREATMENT, COMPLICATION, [DESC], CHILDDEATH, PROBLEM, ISSUBMIT, INSERTBY, INSERTDATE)
			VALUES(@UserID, @NoOfPregnancy, @NoOfStillBirth, @NoOfMiscarriage, @NoOfLiveBirth, @NoOfAbortion, @List,
						@Treatment, @Complication, @Desc, @ChildDeath, @Problem, 1, @ChangeBy, GETDATE())
			
			SET @PregnancyHistoryID = SCOPE_IDENTITY()
		END TRY
		BEGIN CATCH
			SELECT @ErrorMessage = ERROR_MESSAGE()
			
			GOTO ERRORMESSAGE
		END CATCH
		
		UPDATE APPROVALSTATUS
			SET ISSUBMITTED = 1
			WHERE USERID = @UserID 
			AND FORMNAME = (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Pregnancy History'
					 AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1)
		
		SELECT DISTINCT PREGNANCYHISTORYID, USERID, NOOFPREGNANCY, NOSTILLBIRTH, NOMISCARRIAGE, NOLIVEBIRTH, NOABORTION, LIST,
						TREATMENT, COMPLICATION, [DESC], CHILDDEATH, PROBLEM, ISSUBMIT, INSERTBY, INSERTDATE
		FROM PREGNANCYHISTORY
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	ELSE IF (@EntityState = 'EDIT')
	BEGIN
		UPDATE PREGNANCYHISTORY
		SET USERID = @USERID,
			NOOFPREGNANCY = @NoOfPregnancy,
			NOSTILLBIRTH = @NoOfStillBirth,
			NOMISCARRIAGE = @NoOfMiscarriage,
			NOLIVEBIRTH = @NoOfLiveBirth,
			NOABORTION = @NoOfAbortion,
			LIST = @List,
			TREATMENT = @Treatment,
			COMPLICATION = @Complication,
			[DESC]=@Desc,
			CHILDDEATH =@ChildDeath,
			PROBLEM = @Problem,
			ISSUBMIT = 1,
			UPDATEBY = @ChangeBy,
			UPDATEDATE = GETDATE()
		WHERE USERID = @UserID
		
		SELECT DISTINCT PREGNANCYHISTORYID, USERID, NOOFPREGNANCY, NOSTILLBIRTH, NOMISCARRIAGE, NOLIVEBIRTH, NOABORTION, LIST,
						TREATMENT, COMPLICATION, [DESC], CHILDDEATH, PROBLEM, ISSUBMIT, INSERTBY, INSERTDATE
		FROM PREGNANCYHISTORY
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	ELSE IF (@EntityState = 'DELETE')
	BEGIN
		PRINT 'Delete Code Here'
	
	END
	ELSE IF (@EntityState = 'VIEW')
	BEGIN
		SELECT DISTINCT PREGNANCYHISTORYID, USERID, NOOFPREGNANCY, NOSTILLBIRTH, NOMISCARRIAGE, NOLIVEBIRTH, NOABORTION, LIST,
						TREATMENT, COMPLICATION, [DESC], CHILDDEATH, PROBLEM, ISSUBMIT, INSERTBY, INSERTDATE
		FROM PREGNANCYHISTORY
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	
	-- To move pointer to End of procedure
	GOTO EOP
	
	-- To Raise Error	
	ERRORMESSAGE:
	RAISERROR(@ErrorMessage, 16, 1);
	
	EOP:
END
GO
/****** Object:  StoredProcedure [dbo].[pSRGs_MentalHealth]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGs_MentalHealth] 
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	--To Track Record of Execution
	EXEC pSRGs_ExecutionProcess 'pSRGs_MentalHealth', '@aXMLString', @aXMLString
	
	DECLARE @MentalHealthID INT,
			@UserID INT,
			@Depression INT,
			@Illness INT,
			@Suicide INT,
			@Thoughts INT,
			@Professional INT,
			@Detail VARCHAR(4000),
			@IsSubmit INT,
			@EntityState VARCHAR(500),
			@ChangeBy VARCHAR(100),			
			@ErrorMessage NVARCHAR(MAX)
	
	-- Getting data from XML String (Start)
	DECLARE @idoc INT
	EXEC SP_XML_PREPAREDOCUMENT @idoc OUTPUT, @aXMLString

	SELECT  @MentalHealthID = MENTALHEALTHID,
			@UserID = USERID,
			@Depression = DEPRESSION, 
			@Illness = ILLNESS,
			@Suicide = SUICIDE ,
			@Thoughts = THOUGHTS,
			@Professional = PROFESSIONAL,
			@Detail = DETAILS,
			@IsSubmit = ISSUBMIT,
			@EntityState = ENTITYSTATE,
			@ChangeBy = CHANGEBY
	FROM OPENXML (@idoc, 'MentalHealth', 1)
	WITH 
	(
		MENTALHEALTHID INT 'MentalHealthID',
		USERID INT 'UserID',
		DEPRESSION INT 'Depression',
		ILLNESS INT 'Illness',
		SUICIDE INT 'Suicide',
		THOUGHTS INT 'Thoughts',
		PROFESSIONAL INT 'Professional',
		DETAILS VARCHAR(4000) 'Details',
		ISSUBMIT VARCHAR(10) 'IsSubmit',
		ENTITYSTATE VARCHAR(500) 'EntityState',
		CHANGEBY VARCHAR(500) 'ChangeBy'
	)

	EXEC SP_XML_REMOVEDOCUMENT @idoc
	
	IF (@EntityState = 'SAVE')
	BEGIN
		IF (ISNULL(@ChangeBy, '') = '')
			SET @ChangeBy = 'System Admin'
		BEGIN TRY	
			
			INSERT INTO MENTALHEALTH(USERID, DEPRESSION, ILLNESS, SUICIDE, THOUGHTS, PROFESSIONAL, DETAILS, ISSUBMIT, INSERTBY, INSERTDATE)
			VALUES(@UserID, @Depression, @Illness, @Suicide, @Thoughts, @Professional, @Detail, 1, @ChangeBy, GETDATE())
			
			SET @MentalHealthID = SCOPE_IDENTITY()
		END TRY
		BEGIN CATCH
			SELECT @ErrorMessage = ERROR_MESSAGE()
			
			GOTO ERRORMESSAGE
		END CATCH
		
		UPDATE APPROVALSTATUS
			SET ISSUBMITTED = 1
			WHERE USERID = @UserID 
			AND FORMNAME = (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Mental Info'
					 AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1)
		
		SELECT DISTINCT MENTALHEALTHID, USERID, DEPRESSION, ILLNESS, SUICIDE, THOUGHTS, PROFESSIONAL, DETAILS, ISSUBMIT, INSERTBY, INSERTDATE
		FROM MENTALHEALTH
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	ELSE IF (@EntityState = 'EDIT')
	BEGIN
		UPDATE MENTALHEALTH
		SET	USERID = @USERID,
			DEPRESSION = @Depression,
			ILLNESS = @Illness,
			SUICIDE = @Suicide,
			THOUGHTS = @Thoughts,
			PROFESSIONAL = @Professional,
			DETAILS = @Detail,
			ISSUBMIT = 1,
			UPDATEBY = @ChangeBy,
			UPDATEDATE = GETDATE()
		WHERE USERID = @UserID
		
		SELECT DISTINCT MENTALHEALTHID, USERID, DEPRESSION, ILLNESS, SUICIDE, THOUGHTS, PROFESSIONAL, DETAILS, ISSUBMIT, INSERTBY, INSERTDATE
		FROM MENTALHEALTH
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL

	END
	ELSE IF (@EntityState = 'DELETE')
	BEGIN
		PRINT 'Delete Code Here'
	
	END
	ELSE IF (@EntityState = 'VIEW')
	BEGIN
		SELECT DISTINCT MENTALHEALTHID, USERID, DEPRESSION, ILLNESS, SUICIDE, THOUGHTS, PROFESSIONAL, DETAILS, ISSUBMIT, INSERTBY, INSERTDATE
		FROM MENTALHEALTH
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL

	END
	
	-- To move pointer to End of procedure
	GOTO EOP
	
	-- To Raise Error	
	ERRORMESSAGE:
	RAISERROR(@ErrorMessage, 16, 1);
	
	EOP:
END
GO
/****** Object:  StoredProcedure [dbo].[pSRGs_MedicalInfo]    Script Date: 03/01/2018 13:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pSRGs_MedicalInfo] 
(
	@aXMLString NVARCHAR(MAX)
)
AS
BEGIN
	--To Track Record of Execution
	EXEC pSRGs_ExecutionProcess 'pSRGs_MedicalInfo', '@aXMLString', @aXMLString
	
	DECLARE @UserID INT,
			@MedicalInfoId INT,
			@Ablation VARCHAR(10),
			@WeightLoss VARCHAR(500),
			@Medical VARCHAR(10),
			@MedicalDetail VARCHAR(500),
			@Medication VARCHAR(10),
			@MedicationDetail VARCHAR(2000),
			@BreastFeeding VARCHAR(10),
			@Periods VARCHAR(10),
			@IsSubmit INT,
			@EntityState VARCHAR(500),
			@ChangeBy VARCHAR(100),			
			@ErrorMessage NVARCHAR(MAX)
	
	-- Getting data from XML String (Start)
	DECLARE @idoc INT
	EXEC SP_XML_PREPAREDOCUMENT @idoc OUTPUT, @aXMLString

	SELECT @UserID = USERID,
			@MedicalInfoId = MEDICALINFOID, 
			@Ablation = ABLATION,
			@WeightLoss = WEIGHLOSS ,
			@Medical = MEDICAL,
			@MedicalDetail = MEDICALDETAIL,
			@Medication = MEDICATION,
			@MedicationDetail = MEDICATIONDETAIL,
			@BreastFeeding = BREASTFEEDING,
			@Periods = PERIODS,
			@IsSubmit = ISSUBMIT,
			@EntityState = ENTITYSTATE,
			@ChangeBy = CHANGEBY
	FROM OPENXML (@idoc, 'MedicalInfo', 1)
	WITH 
	(
		USERID INT 'UserID',
		MEDICALINFOID VARCHAR(500) '@MedicalInfoId',
		ABLATION VARCHAR(10) 'Ablation',
		WEIGHLOSS VARCHAR(10) 'WeightLoss',
		MEDICAL VARCHAR(10) 'Medical',
		MEDICALDETAIL VARCHAR(2000) 'MedicalDetail',
		MEDICATION VARCHAR(10) 'Medication',
		MEDICATIONDETAIL VARCHAR(2000)'MedicationDetail',
		BREASTFEEDING VARCHAR(10) 'BreastFeeding',
		PERIODS VARCHAR(10) 'Periods',
		ISSUBMIT VARCHAR(500) 'IsSubmit',
		ENTITYSTATE VARCHAR(500) 'EntityState',
		CHANGEBY VARCHAR(500) 'ChangeBy'
	)

	EXEC SP_XML_REMOVEDOCUMENT @idoc
	
	IF (@EntityState = 'SAVE')
	BEGIN
		IF (ISNULL(@ChangeBy, '') = '')
			SET @ChangeBy = 'System Admin'
		BEGIN TRY		
			INSERT INTO MEDICALINFO(USERID, ABLATION, WEIGHLOSS, MEDICAL, MEDICALDETAIL, MEDICATION, MEDICATIONDETAIL,
					BREASTFEEDING, PERIODS, ISSUBMIT, INSERTBY,INSERTDATE)
			VALUES(@UserID, @Ablation, @WeightLoss, @Medical, @MedicalDetail,  @Medication, @MedicationDetail,
					@BreastFeeding, @Periods,  1, @ChangeBy, GETDATE())
			
			SET @MedicalInfoId = SCOPE_IDENTITY()
		END TRY
		BEGIN CATCH
			SELECT @ErrorMessage = ERROR_MESSAGE()
			
			GOTO ERRORMESSAGE
		END CATCH
		
		UPDATE APPROVALSTATUS
			SET ISSUBMITTED = 1
			WHERE USERID = @UserID 
			AND FORMNAME = (SELECT OPTIONID FROM MTOPTION WHERE CATEGORY = 'FORMNAME' AND ITEM = 'Medical History'
					 AND DELETEBY IS NULL AND DELETEDATE IS NULL AND ISACTIVE = 1)
		
		SELECT DISTINCT MEDICALINFOID, USERID, ABLATION, WEIGHLOSS, MEDICAL, MEDICALDETAIL, MEDICATION, MEDICATIONDETAIL, BREASTFEEDING, PERIODS, ISSUBMIT,
			INSERTBY,INSERTDATE
		FROM MEDICALINFO
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	ELSE IF (@EntityState = 'EDIT')
	BEGIN
		UPDATE MEDICALINFO
		SET USERID = @USERID,
			ABLATION = @Ablation,
			WEIGHLOSS = @WeightLoss,
			MEDICAL = @Medical,
			MEDICALDETAIL = @MedicalDetail,
			MEDICATION = @Medication,
			MEDICATIONDETAIL = @MedicationDetail,
			BREASTFEEDING = @BreastFeeding,
			PERIODS = @Periods,
			ISSUBMIT = 1,
			UPDATEBY = @ChangeBy,
			UPDATEDATE = GETDATE()
		WHERE USERID = @UserID
		
		SELECT DISTINCT MEDICALINFOID, USERID, ABLATION, WEIGHLOSS, MEDICAL, MEDICALDETAIL, MEDICATION, MEDICATIONDETAIL, BREASTFEEDING, PERIODS, ISSUBMIT,
			INSERTBY,INSERTDATE
		FROM MEDICALINFO
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	ELSE IF (@EntityState = 'DELETE')
	BEGIN
		PRINT 'Delete Code Here'
	
	END
	ELSE IF (@EntityState = 'VIEW')
	BEGIN
		SELECT DISTINCT MEDICALINFOID, USERID, ABLATION, WEIGHLOSS, MEDICAL, MEDICALDETAIL, MEDICATION, MEDICATIONDETAIL, BREASTFEEDING, PERIODS, ISSUBMIT,
			INSERTBY,INSERTDATE
		FROM MEDICALINFO
		WHERE USERID = @UserID
			  AND DELETEBY IS NULL 
			  AND DELETEDATE IS NULL
	END
	
	-- To move pointer to End of procedure
	GOTO EOP
	
	-- To Raise Error	
	ERRORMESSAGE:
	RAISERROR(@ErrorMessage, 16, 1);
	
	EOP:
END
GO
/****** Object:  ForeignKey [FK_ENTITYTYPE_ADDRESS_1]    Script Date: 03/01/2018 13:50:52 ******/
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ENTITYTYPE_ADDRESS_1] FOREIGN KEY([ENTITYTYPEID])
REFERENCES [dbo].[ENTITYTYPE] ([ENTITYTYPEID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ENTITYTYPE_ADDRESS_1]
GO
/****** Object:  ForeignKey [FK__APPROVALS__USERI__5EBF139D]    Script Date: 03/01/2018 13:50:52 ******/
ALTER TABLE [dbo].[APPROVALSTATUS]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[SEC_USER] ([USERID])
GO
/****** Object:  ForeignKey [FK_ENTITYTYPE_CONTACT_1]    Script Date: 03/01/2018 13:50:52 ******/
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_ENTITYTYPE_CONTACT_1] FOREIGN KEY([ENTITYTYPEID])
REFERENCES [dbo].[ENTITYTYPE] ([ENTITYTYPEID])
GO
ALTER TABLE [dbo].[CONTACT] CHECK CONSTRAINT [FK_ENTITYTYPE_CONTACT_1]
GO
